html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
    /* font-family: 'Lato', sans-serif; */
}

div.type-table {
    margin: 1rem 0 1rem 0;
    padding: 2px;
}

div.type-table > table {
    width: 99%;
    text-align: center;
}

table.type-table td {
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    padding: 0.25rem 0 0.25rem 0;
}

td.type-link {
    cursor: pointer;
    padding: 0.25rem;
    width: 40%;
}

div.types ul {
    list-style-type: none;
    font-size: 1.5rem;
}

li.search-result-item {
    margin: 1rem;
    font-size: 12pt;
}

input.dex-search {
    height: 30px;
    width: 100%;
    font-size: 14pt;
}

div.container {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2rem;
}


div.btn-container {
    display: flex;
    justify-content: space-evenly;
}

div.pokedex {
    width: 100%;
}

div.nes-field {
    width: 100%;
}

p.search-hint {
    font-style: italic;
    color: gray;
    margin-top: 1rem;
}

div.types {
    /* position: fixed;
    width: 30%;
    top: 0;
    bottom: 0;
    border-right: 10px double black; */
}

div.type-link {
    display: inline;
    margin-left: 2rem;
    cursor: pointer;
    /* border: 1px solid black; */
    /* padding: 10px 30px 10px 10px; */
}

div.type-link > a {
    margin: 0;
}

a.nes-badge > span {
    color: white;
    /* position: absolute; */
    margin-right: 1rem;
    padding: 5px;
}

div.badge-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

a.nes-badge {
    display: inline;
    width: auto;
}

.bug-badge {
    background-color: #A8B820;
    box-shadow: 0 0.5em #A8B820, 0 -0.5em #A8B820, 0.5em 0 #A8B820, -0.5em 0 #A8B820;
}

.dark-badge {
    background-color: #705848;
    box-shadow: 0 0.5em #705848, 0 -0.5em #705848, 0.5em 0 #705848, -0.5em 0 #705848;
}

.dragon-badge {
    background-color: #7038F8;
    box-shadow: 0 0.5em #7038F8, 0 -0.5em #7038F8, 0.5em 0 #7038F8, -0.5em 0 #7038F8;
}

.electric-badge {
    background-color: #F8D030;
    box-shadow: 0 0.5em #F8D030, 0 -0.5em #F8D030, 0.5em 0 #F8D030, -0.5em 0 #F8D030;
}

.fairy-badge {
    background-color: #EE99AC;
    box-shadow: 0 0.5em #EE99AC, 0 -0.5em #EE99AC, 0.5em 0 #EE99AC, -0.5em 0 #EE99AC;
}

.fighting-badge {
    background-color: #C03028;
    box-shadow: 0 0.5em #C03028, 0 -0.5em #C03028, 0.5em 0 #C03028, -0.5em 0 #C03028;
}

.fire-badge {
    background-color: #F08030;
    box-shadow: 0 0.5em #F08030, 0 -0.5em #F08030, 0.5em 0 #F08030, -0.5em 0 #F08030;
}

.flying-badge {
    background-color: #A890F0;
    box-shadow: 0 0.5em #A890F0, 0 -0.5em #A890F0, 0.5em 0 #A890F0, -0.5em 0 #A890F0;
}

.ghost-badge {
    background-color: #705898;
    box-shadow: 0 0.5em #705898, 0 -0.5em #705898, 0.5em 0 #705898, -0.5em 0 #705898;
}

.grass-badge {
    background-color: #78C850;
    box-shadow: 0 0.5em #78C850, 0 -0.5em #78C850, 0.5em 0 #78C850, -0.5em 0 #78C850;
}

.ground-badge {
    background-color: #E0C068;
    box-shadow: 0 0.5em #E0C068, 0 -0.5em #E0C068, 0.5em 0 #E0C068, -0.5em 0 #E0C068;
}

.ice-badge {
    background-color: #98D8D8;
    box-shadow: 0 0.5em #98D8D8, 0 -0.5em #98D8D8, 0.5em 0 #98D8D8, -0.5em 0 #98D8D8;
}

.normal-badge {
    background-color: #A8A878;
    box-shadow: 0 0.5em #A8A878, 0 -0.5em #A8A878, 0.5em 0 #A8A878, -0.5em 0 #A8A878;
}

.poison-badge {
    background-color: #A040A0;
    box-shadow: 0 0.5em #A040A0, 0 -0.5em #A040A0, 0.5em 0 #A040A0, -0.5em 0 #A040A0;
}

.psychic-badge {
    background-color: #F85888;
    box-shadow: 0 0.5em #F85888, 0 -0.5em #F85888, 0.5em 0 #F85888, -0.5em 0 #F85888;
}

.rock-badge {
    background-color: #B8A038;
    box-shadow: 0 0.5em #B8A038, 0 -0.5em #B8A038, 0.5em 0 #B8A038, -0.5em 0 #B8A038;
}

.steel-badge {
    background-color: #B8B8D0;
    box-shadow: 0 0.5em #B8B8D0, 0 -0.5em #B8B8D0, 0.5em 0 #B8B8D0, -0.5em 0 #B8B8D0;
}

.water-badge {
    background-color: #6890F0;
    box-shadow: 0 0.5em #6890F0, 0 -0.5em #6890F0, 0.5em 0 #6890F0, -0.5em 0 #6890F0;
}

div.small {
    width: auto;
}

@media (pointer:coarse) {
    body {
        font-size: 1.5rem;
    }

    div.container {
        width: 95%;
    }

    input.dex-search {
        height: 50px;
        width: 100%;
        font-size: 2rem;
        border-width: 8px;
    }

    ul {
        padding-left: 0;
    }

    li.search-result-item {
        margin: 2rem;
        font-size: 1.5rem;
    }

    div.type-table {
        font-size: 1.75rem;
    }

    td.type-link {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    div.nes-container.with-title > p.title {
        font-size: 1.5rem;
    }

    table.nes-table.is-bordered {
        border-width: 10px;
    }

    button.nes-btn {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        border-width: 8px;
    }
}
