html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P", "Helvetica", sans-serif;
}

div.type-table {
    margin: 1rem 0 1rem 0;
    padding: 2px;
}

div.type-table > table {
    width: 99%;
    text-align: center;
}

td.type-link {
    cursor: pointer;
    padding: 0.25rem;
    width: 40%;
}

ul {
    list-style-type: none;
}

li.search-result-item {
    margin: 1rem;
    font-size: 12pt;
}

input.dex-search {
    height: 30px;
    width: 100%;
    font-size: 14pt;
}

div.container {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2rem;
}


div.btn-container {
    display: flex;
    justify-content: space-evenly;
}

p.search-hint {
    font-style: italic;
    color: gray;
    margin-top: 1rem;
}

div.type-link {
    display: inline;
    margin-left: 1.25rem;
    cursor: pointer;
}

a.nes-badge > span {
    color: white;
    margin-right: 1rem;
    padding: 5px;
}

div.badge-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

a.nes-badge {
    display: inline;
    width: auto;
}

@media (pointer:coarse) {
    body {
        font-size: 1.5rem;
    }

    div.container {
        width: 98%;
    }

    input.dex-search {
        height: 50px;
        width: 100%;
        font-size: 2rem;
        border-width: 8px;
    }

    ul {
        padding-left: 0;
    }

    li.search-result-item {
        margin: 2rem;
        font-size: 1.5rem;
    }

    div.type-table {
        font-size: 1.75rem;
    }

    td.type-link {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    div.nes-container.with-title > p.title {
        font-size: 1.5rem;
    }

    table.nes-table.is-bordered {
        border-width: 10px;
    }

    button.nes-btn {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        border-width: 8px;
    }
}
