html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P", "Helvetica", sans-serif;
}

div.type-table {
    margin: 1rem 0 1rem 0;
    padding: 2px;
}

.error-txt {
    color: #e76e55;
}

.nes-btn {
    min-width: 40%;
}

div.type-table > table {
    width: 99%;
    text-align: center;
}

td.type-link {
    cursor: pointer;
    padding: 0.25rem;
    width: 40%;
}

ul {
    list-style-type: none;
}

li.search-result-item {
    margin: 1rem;
    font-size: 12pt;
}

input.dex-search {
    height: 30px;
    width: 100%;
    font-size: 14pt;
}

div.container {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2rem;
}


div.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

p.search-hint {
    font-style: italic;
    color: #707070;
    margin-top: 1rem;
}

div.type-link {
    display: inline;
    margin-left: 0.5rem;
    cursor: pointer;
}

a.nes-badge > span {
    color: white;
    margin-right: 1rem;
    padding: 5px 10px 5px 15px;
    user-select: none;
}

a.nes-badge > span.dual-left {
    margin-right: 0;
}

div.badge-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

a.nes-badge.type-badge {
    display: inline-block;
    width: auto;
    user-select: none;
}

div.party-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.party-member {
    display: inline;
    flex-grow: 1;
    border: 1px solid black;
    flex-basis: 48%;
}

div.party-member > i.close {
    position: relative;
    float: left;
    margin-top: 0.5rem;
    padding-right: 2rem;
    color: red;
}

.nes-container.is-rounded {
    margin: 6px;
    padding: 0.5rem;
}

.grayed {
    color: #707070;
}

.btm-gap {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.top-gap {
    margin-top: 4rem;
}

.inline {
    display: inline;
}

h1.party-btn {
    display: inline;
    position: relative;
    font-size: 3rem;
}

h1.add-btn {
    float: right;
    margin-right: 0.5rem;
}

h1.rm-btn {
    float: left;
    padding-right: 0.5rem;
    margin-block-end: 0;
}

.nes-container.is-rounded.eval-container {
    margin-top: 1rem;
}

img.expac-icon, img.exclusive-icon {
    margin-left: 0.5rem;
    height: 2rem;
    width: 2rem;
}

img.expac-icon {
    margin-right: 0.25rem;
}

span.no-exclusive {
    min-height: 2rem;
    min-width: 2rem;
}

strong.galar-name {
    color: #A040A0;
}

strong.alola-name {
    color: #6890F0;
}

/* Modal Content */
.party-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content.nes-container.is-rounded {
    margin: auto;
    padding: 1rem;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    width: 100%;
    text-align: center;
}

.modal-sep {
    width: 90%;
}
/* END MODAL STUFF */

@media (pointer:coarse) {
    body {
        font-size: 1.5rem;
    }

    div.container {
        width: 98%;
    }

    input.dex-search {
        height: 50px;
        width: 100%;
        font-size: 2rem;
        border-width: 8px;
    }

    ul {
        padding-left: 0;
    }

    li.search-result-item {
        margin: 0.75rem;
        font-size: 1.5rem;
    }

    div.type-table {
        font-size: 1.75rem;
    }

    td.type-link {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    div.type-link {
        display: block;
        margin: 0.75rem 0 0 8rem;
    }

    div.nes-container.with-title > p.title {
        font-size: 1.5rem;
    }

    table.nes-table.is-bordered {
        border-width: 10px;
    }

    button.nes-btn {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        border-width: 8px;
    }

    div.party-member {
        flex-basis: 100%;
        min-height: 7rem;
    }

    div.party-member > i.close {
        margin-left: 0.5rem;
        margin-top: 1rem;
        transform: scale(5);
    }

    h1.add-btn {
        margin-top: 0.75rem;
    }

    h1.rm-btn {
        font-size: 4rem;
    }

    .modal-content {
        width: 90%
    }

    .modal-content.nes-container.is-rounded {
        padding: 2rem;
    }
}
