table.type-table {
    width: 97%;
    margin-top: 1rem;
}

table.type-table td {
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    padding: 0.25rem 0 0.25rem 0;
}

td.type-link {
    cursor: pointer;
    padding: 0.25rem;
    width: 40%;
}

td.type-selected {
    color: white;
    background-color: black;
}

div.types ul {
    list-style-type: none;
    font-size: 1.5rem;
}

li {
    margin: 1rem;
}

input.dex-search {
    height: 30px;
    width: 70%;
}

div.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

div.types {
    /* position: fixed;
    width: 30%;
    top: 0;
    bottom: 0;
    border-right: 10px double black; */
}

div.pokedex {
    position: relative;
    margin-left: 30%;
    padding-left: 3rem;
}
